body {
    height: 100vh;
}

.title {
    font-size : 3rem;
    font-weight: bold;
}
.product-list {
    margin-top: 1rem;
}
.product-list-item{
    height: 300px;
}

.product-item-content {
    height: 90%;
}

.product-list .image {
    height: 60%;
}

.product-list .image img {
    height: 100%;
}

.price, .short-description {
    font-size: 0.7rem;
}


.basic-info > *{
    height: 20%;
    margin: 3%;
    font-size: 1rem;
}


.cart-summary-item {
    height: 150px;
    font-size: 1.5rem;

}

.cart-summary-item .image {
    height: 100%;
}
.cart-summary-item .image img {
    height: 100%;
    
}



.carousel .container {
    display: flex;
    height : 600px;
    width : 800px;
    border: 3px black solid;
    position : relative;
  }
  
  .carousel  img {
    height: 300px;
    width: 100%;
  }
  
  .carousel  .button-left, .button-right, .round-buttons  {
    position: absolute;
  }
  
  .carousel  .button-left, .button-right {
    top: 40%;
    font-size: 1rem;
    color: brown;
  }
  
  .carousel  .button-left {
    left: 0;
  
  }
  .carousel  .button-right {
    right: 0;
  
  }
  
  .carousel  .round-buttons{
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .carousel  .round-buttons i {
    margin: 0 5px;
  }
  