body {
    height: 100vh;
}

.title {
    font-size : 3rem;
    font-weight: bold;
}
.product-list {
    margin-top: 1rem;
}
.product-list-item{
    height: 300px;
}

.product-item-content {
    height: 90%;
}

.product-list .image {
    height: 60%;
}

.product-list .image img {
    height: 100%;
}

.price, .short-description {
    font-size: 0.7rem;
}


.basic-info > *{
    height: 20%;
    margin: 3%;
    font-size: 1rem;
}


.cart-summary-item {
    height: 150px;
    font-size: 1.5rem;

}

.cart-summary-item .image {
    height: 100%;
}
.cart-summary-item .image img {
    height: 100%;
    
}
