.product-list {
    margin-top: 1rem;
}
.product-list-item{
    height: 300px;
}

.product-item-content {
    height: 90%;
}

.image {
    height: 60%;
}

.image img {
    height: 100%;
}

.price, .short-description {
    font-size: 0.7rem;
}


.product-details .basic-info > *{
    height: 20%;
    margin: 5%;
    font-size: 1rem;
}

